

html{
  scroll-behavior: smooth;
  text-align: center;
  background: url('images/chalk-background.jpg') no-repeat center fixed;
  background-size: cover;
}

img {
  height:200px;
}
/* Code below is done with help from bitdegree.org, suggested by Katie (link is here: https://www.bitdegree.org/learn/css-link-color) */
a:link, a:visited {
  /* background-color: #F5FAFE; */
    border: none;
    color: white;
    margin-top: 17px;
    margin-bottom: 50px;
    padding: 15px 20px;
    text-align: center;
    /* Used for creating a transition for the index page text */
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

a:hover, a:active {
   background-color: #E6D1E1;
   /* Reduced the opactity of the text when the link is hovered upon */
   opacity: 0.7;
   top: 5;
   /* Takes 0.5 seconds to reduce the opacity as a transiton */
   transition: 0.5s;
}
/* Code below is done with help from bitdegree.org, suggested by Katie (link is here: https://www.bitdegree.org/learn/css-link-color) */

/* Code below alligns the menu to the right side of the screen */
.links a{
  position: relative;
  left: 30%;
  overflow: auto;
  text-align: right;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border-radius: 5px;
}
/* Code belowmis used for the formatting of the heading of the page, to be used like an icon */
.Header{
  /* To fix the position of the header */
  position: absolute;
  color: white;
  font-family: 'Indie Flower', cursive;  font-weight: normal;
  font-size: 43px;
  font-weight: bold;
  /* To format the heading to be in line with the menu */
  margin-top: 13px;
  margin-left: 25px;
  text-shadow: 0px 0px 5px black;
  /* To produce an initial transition when the screen reloads */
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* Transitions/ Animations for the Heading 'What are you doing with your time....' in the index page */
@keyframes my-move
{
 0% {opacity: 0;}
 20%{opacity: 0;}
 100% {opacity: 1;}
}
/* To include a downloaded font from the internet in the website */
@font-face {
  font-family: myFirstFont;
  src: url(Berton-Roman-Regular.ttf.woff);
  font-weight: 300;
}
/* Code to format the heading 'What are you doing with your time....' on the index page */
.heading1{
  color:white;
  animation-name: my-move;
  animation-duration: 2s;
  font-family: myFirstFont;
  font-weight: lighter;
  font-size:45px;"
}
/* Transitions/ Animations for the video on the index page */
@keyframes my-move2
{
 0% {opacity: 0;}
 30%{opacity: 0;}
 100% {opacity: 1;}
}
.video1{
  animation-name: my-move2;
  animation-duration: 4s;
}

/* To format all the similar subheadings on the different pages */
.heading{
  color:white;
  font-family: myFirstFont;
  font-weight: lighter;
}

/* Below code is to format the Images and the text along with the images on the Team page. Code is inspired from w3schools, not specifically from any link */
.row {
  display: flex;
}

.column {
  flex: 25%;
  padding: 5px;
  margin-bottom: 30px;

}

.column img{
    border: 4px solid black;
    /* height:200px; */
    /* width: 180px; */
    border-radius: 60px;
    margin-top: 3.75%;
}

.column p{
  position: relative;
  top: 25%;
  right: 30%;
  color:white;
  font-family: myFirstFont;
  font-weight: lighter;
  font-size:20px;
  opacity: 0.8;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 4px;
  background-color: grey;
}

/* Above code is to format the Images and the text along with the images on the Team page. Code is inspired from w3schools, not specifically from any link */


/* https://www.w3schools.com/howto/howto_css_contact_form.asp */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: lightgrey;
  color: white;
  margin-left: 45%;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  opacity: 0.7;
  background-color: lightgrey;
}

/* Add a background color and some padding around the form */
.container {
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
  color:white;
  font-family: myFirstFont;
  font-size: 20px;
  /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
  font-weight: lighter;
  border-radius: 5px;
  background-color: grey;
  padding: 20px;
}
/* To format the text below the Description on the index page */
.body-text{
  color:white;
  font-family: myFirstFont;
  font-weight: lighter;
  padding-left: 15%;
  padding-right: 15%;
  /* text-align: justify; */
  font-size:20px;
  opacity: 0.8;
  border-radius: 5px;
}
/* To format the text beneath the subheadings on the About and the Resources page */
.About-data{
  margin-left: 25%;
  margin-right: 25%;
  padding: 12px; /* Some padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: grey;
}

/* Code to format the footer at the end of the page */
.footer-content{
  padding-top: 25px;
  padding-bottom: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
}
.myfooter {
  background-color: #2D2D2D;
  position: relative;
  right:1%;
  color: white;
  top:10%;
  width:102%;
}
 /* Below code is Inspired from w3schools.com (link here: https://www.w3schools.com/css/tryit.asp?filename=trycss_grid) to format the videos on the Resources page */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  /* padding: 10px; */
  padding-top: 40px;
}
/* Above code is Inspired from w3schools.com (link here: https://www.w3schools.com/css/tryit.asp?filename=trycss_grid) */

/* To format the Linked line for the forty things guide on the Resources page */
.Guide-text{
  font-family: myFirstFont;
  font-weight: lighter;
  color: white;
  font-size: 20px;
  padding-left: 15%;
  padding-right: 15%;
}
/* To format the first HERE! button on the Resources Page */
.Guide-text a{
  border-radius: 5px;
}
