html{
  scroll-behavior: smooth;
  text-align: center;
  /* background: linear-gradient(#c06263, #d18280); */
  /* background-color: #DEEFF9; */
  background: url('images/chalk-background.jpg') no-repeat center fixed;
  background-size: cover;
  /* background-image: url('images/chalk-background.jpg') no-repeat center fixed;
  background-size: cover; */
  /* background-size: cover;
 background-repeat: no-repeat;  */
}

img {
  height:200px;
}

a:link, a:visited {
  /* background-color: #F5FAFE; */
    border: none;
    color: white;
    margin-top: 17px;
    margin-bottom: 50px;
    padding: 15px 20px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

a:hover, a:active {
   background-color: #E6D1E1;
   opacity: 0.7;
   top: 5;
   transition: 0.5s;
   /* text-decoration: underline; */
}

.Active-Link span{
  border-bottom: 1px solid black;
}

.links a{
  position: relative;
  left: 30%;
  overflow: auto;
  text-align: right;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border-radius: 5px;
}

.rightside{
  float: right;
}
.layerbackground{
  position: absolute;
  margin-left: 0px;
  margin:0px;
  padding:0px;
  top: 0px;
  left:0px;
  width:100%;
  height:100px;
  color:#F5FAFE;
  background: #F5FAFE;
}

.Header{
  position: absolute;
  color: white;
  font-family: 'Indie Flower', cursive;  font-weight: normal;
  font-size: 43px;
  font-weight: bold;
  font-stretch: expanded;
  margin-top: 13px;
  margin-left: 25px;
  text-shadow: 0px 0px 5px black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
}

.videoheading{
  color:red;
  font-family: sans-serif;
}

@keyframes my-move
{
 0% {opacity: 0;}
 20%{opacity: 0;}
 100% {opacity: 1;}
}

@font-face {
  font-family: myFirstFont;
  src: url(Berton-Roman-Regular.ttf.woff);
  font-weight: 300;
}

.heading1{
  color:white;
  /* text-align: left; */
  /* margin-left: 25px; */
  animation-name: my-move;
  animation-duration: 2s;
  font-family: myFirstFont;
  /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
  font-weight: lighter;

  font-size:45px;"
}

/* .heading1 p{
  font-size: 10px;
} */

@keyframes my-move2
{
 0% {opacity: 0;}
 30%{opacity: 0;}
 100% {opacity: 1;}
}

.video1{
  animation-name: my-move2;
  animation-duration: 4s;
}

.heading{
  color:white;
  font-family: myFirstFont;
  /* text-align: left; */
  /* margin-left: 25px; */
  /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
  font-weight: lighter;
}

.row {
  display: flex;
}

.column {
  flex: 25%;
  padding: 5px;
  margin-bottom: 30px;

}
.column img{
    border: 4px solid black;
    height:200px;
    width: 180px;
    border-radius: 60px;
    margin-top: 3.75%;
}

.column p{
  position: relative;
  right: 30%;
  color:white;
  font-family: myFirstFont;
  font-weight: lighter;
  font-size:20px;
  opacity: 0.8;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 4px;
  background-color: grey;
}

/* https://www.w3schools.com/howto/howto_css_contact_form.asp */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: lightgrey;
  color: white;
  margin-left: 45%;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  opacity: 0.7;
  background-color: lightgrey;
}

/* Add a background color and some padding around the form */
.container {
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
  color:white;
  font-family: myFirstFont;
  font-size: 20px;
  /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
  font-weight: lighter;
  border-radius: 5px;
  background-color: grey;
  padding: 20px;
}

.body-text{
  color:white;
  font-family: myFirstFont;
  font-weight: lighter;
  padding-left: 15%;
  padding-right: 15%;
  /* text-align: justify; */
  font-size:20px;
  opacity: 0.8;
}

.About-data{
  margin-left: 25%;
  margin-right: 25%;
  padding: 12px; /* Some padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: grey;
}
.footer-content{
  padding-top: 25px;
  padding-bottom: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
}
.myfooter {
  background-color: #2D2D2D;
  position: relative;
  right:1%;
  color: white;
  top:2%;
  width:102%;
}
