html{
  scroll-behavior: smooth;

  text-align: center;
  /* background: linear-gradient(#c06263, #d18280); */
  /* background-color: #DEEFF9; */
  background-image: url('images/chalk-background.jpg');
}
<script src = "script.js">  </script>

img {
  height:200px;
}

a:link, a:visited {
  /* background-color: #F5FAFE; */
    border: none;
    color: white;
    margin-top: 17px;
    margin-bottom: 50px;
    padding: 15px 30px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 15px;;
    cursor: pointer;
    display: inline-block;
}

a:hover, a:active {
   background-color: #E6D1E1;
   opacity: 0.5;
   top: 5;
   transition: 0.5s;
}

.links a{
  position: relative;
  left: 30%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border-radius: 10px;
}

.layerbackground{
  position: absolute;
  margin-left: 0px;
  margin:0px;
  padding:0px;
  top: 0px;
  left:0px;
  width:100%;
  height:100px;
  color:#F5FAFE;
  background: #F5FAFE;
}

.Header{
  position: absolute;
  color: white;
  font-family: 'Indie Flower', cursive;  font-weight: normal;
  font-size: 43px;
  margin-top: 13px;
  margin-left: 25px;
  text-shadow: 0px 0px 5px black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
}

.videoheading{
  color:red;
  font-family: sans-serif;
}

@keyframes my-move
{
 0% {opacity: 0;}
 20%{opacity: 0;}
 100% {opacity: 1;}
}

@font-face {
  font-family: myFirstFont;
  src: url(Berton-Roman-Regular.ttf.woff);
  font-weight: 300;
}

.heading1{
  color:white;
  /* text-align: left; */
  /* margin-left: 25px; */
  animation-name: my-move;
  animation-duration: 3s;
  font-family: myFirstFont;
  /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
  font-weight: lighter;

  font-size:45px;"
}

/* .heading1 p{
  font-size: 10px;
} */

@keyframes my-move2
{
 0% {opacity: 0;}
 50%{opacity: 0;}
 100% {opacity: 1;}
}

.video1{
  animation-name: my-move2;
  animation-duration: 7s;
}

.heading{
  color:white;
  font-family: myFirstFont;
  /* text-align: left; */
  /* margin-left: 25px; */
  /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
  font-weight: lighter;
}

.row {
  display: flex;
}

.column {
  flex: 25%;
  padding: 5px;

}
.column img{
    border: 8px solid black;
    height:200px;
}
